@page "/invoice/detail/{id}"
@model MotelManagementWebAppUI.Pages.Invoice.InvoiceDetailModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Invoice Details";
}

@*<h1>@Model.invoiceDTO.CreatedDate</h1>*@
<div>
    <h3>
        Thông tin chi tiết hóa đơn
    </h3>
    <table>

    </table>
</div>
