@using BussinessObject.DTO
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model RoomDTO

<div id="myModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
    <div>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
           @* <div class="form-group">
                <label asp-for="Department.DepartmentName" class="control-label"></label>
                <input asp-for="Department.DepartmentName" class="form-control" />
                <span asp-validation-for="Department.DepartmentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Department.DepartmentLocation" class="control-label"></label>
                <input asp-for="Department.DepartmentLocation" class="form-control" />
                <span asp-validation-for="Department.DepartmentLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Department.TelephoneNumber" class="control-label"></label>
                <input asp-for="Department.TelephoneNumber" class="form-control" />
                <span asp-validation-for="Department.TelephoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Department.ShortDescription" class="control-label"></label>
                <input asp-for="Department.ShortDescription" class="form-control" />
                <span asp-validation-for="Department.ShortDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="button" value="Create" class="btn btn-primary" asp-page-handler="Add" />
            </div>*@
        </form>
       @* @using (Html.BeginForm("Add", "RoomDTO", FormMethod.Get, new { id = "create-object-form" }))
          {
              @Html.EditorFor(model => model.Code)
              @Html.EditorFor(model => model.FeeAppliedDate)
              @*<button type="submit" asp-page-handler="Add">Add</button>
              <button type="submit">Add</button>
          }*@
    </div>
</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<partial name="_ValidationScriptsPartial" />