@page "/Forbiddent"
@model MotelManagementWebAppUI.Pages.ForbiddenModel
@{
    Layout = "_LayoutForbiddent";
    ViewData["Title"] = "Chi tiết người thuê";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card mt-5">
                <div class="card-body">
                    <h1 class="text-center">Forbidden</h1>
                    <hr>
                    <p class="text-center">You are not authorized to access this page.</p>
                    <div class="text-center mt-5">
                        <a href="/" class="btn btn-primary">Go Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>