@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<div id="confrim-modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Nhắc nhở</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="delete-object-form">
                    <div class="modal-body">
                        <div id="confirm-body">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Không</button>
                            <button type="button" class="btn btn-outline-warning" id="confirm-yes-button">Có</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
